body {
    background-color: #466362;
    background-size: cover;
    font-size-adjust: auto;
    padding: 0;
    margin-top: 200px;
    border-style: inherit;
}
main{
    background-color: white;
    padding:30px;
}
header {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    top:0px;
}
button:hover{
    text-align: center;
    transition:0.3 ease;
}
.orange-text{
    background: #466362;
    color: gold;
    padding:10px;
}
.gold-text{
    color: gold;
    background-color: purple;
    text-decoration: none;
}
#basketball{
    float: right;
    margin-top: -130px;
}
.floating-image{
    float:right;
    width: 380px;
}
.float-image{
    float:inherit;
}
.link-color{
    text-decoration: none;
    color: gold;
}
img{
    border-radius:15px;
}
.avatar-pic{
    border-radius: 50%;
    border: solid;
}
h1{
    font-size:50px;
    text-align: center;
}
h2{
    font-size:30px;
}
p{
    font-size:15px;
}
.footer-text{
    text-align: center;
    background:#466362;
    padding:30px;
}
footer div {
    width: 25%;
    float: left;
}
.top-buttons{
    width:25%;
}
